<div class="content">
    <section class="game-menu">
        <h1>Menu Principal</h1>
        <div class="button-container">
            <button class="button" routerLink="/joining">Joindre une partie</button>
            <button class="button" routerLink="/creation">Creation de partie</button>
            <button class="button" routerLink="/admin">Administrer les jeux</button>
        </div>
    </section>

    <footer class="footer-item custom-footer">
        <h4 class="team-name">Équipe 307</h4>
        <p>
            <span>Sebastian Cristescu </span>, <span>Alexis Croteau</span>, <span>Nataniel Avisar</span>, <span>Zack Nolet</span>,
            <span>Raphaël Labruguière</span>, <span>Louis-Philippe Toupin</span>
        </p>
    </footer>
</div>
